{{ define "login.form" }}
<form hx-post="/login/do" hx-ext="json-enc">
  <div class="flex flex-col my-4">
    <label for="username" class="my-2 text-md font-medium">Username</label>
    <input name="username" id="username" value="{{ .Username }}" class="text-lg" />
    {{ if not (eq .UsernameError "") }}
    <label for="username" class="text-md text-red-500">{{ .UsernameError }}</label>
    {{ end }}
  </div>

  <div class="flex flex-col max-w my-4">
    <label for="password" class="my-2 text-md font-medium">Password</label>
    <input name="password" id="password" type="password" value="{{ .Password }}" class="text-lg" />
    {{ if not (eq .PasswordError "") }}
    <label for="password" class="text-md text-red-500">{{ .PasswordError }}</label>
    {{ end }}
  </div>

  {{ if not (eq .Error "") }}
  <label class="text-md text-red-500">{{ .Error }}</label>
  {{ end }}

  <div class="flex flex-row my-4 justify-between items-center">
    <a hx-boost="true" href="/reset">Forgot password?</a>
    <button type="submit" class="b-none px-4 py-2 bg-blue-500 text-slate-50">Log in</button>
  </div>
</form>
{{ end }}
